body {
  background-color: #fff;
  color: #008000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 10px;
  white-space: pre;
  flex-direction: column;
  text-align: left;
  min-height: 100vh;
  display: flex;
}

.pokemon-list {
  list-style-type: none;
}