body {
  background-color: #fff;
  color: #008000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 10px;
  white-space: pre;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

.pokemon-list {
  list-style-type: none;
}

button {
  display: inline;
  background-color: #fff;
  border-width: 5px ;
  border-color: #000; 
  color: #008000;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin: 5px;
}

