h1 {
  font-size: 45px;
}


.col {
  padding-block: 10px;
  font-size: 40px;
  text-align: center;
}

.col-3 {
  text-align: center;
}

main {
  background-color: #fff;
  color: #008000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 100;
  white-space: pre;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  display: flex;
}

#pokemon-list {
  list-style-type: none;
}

.modal-body {
  font-size: 30px;
  text-align: left;
}

button {
  list-style: none;
}

#button-main {
  display: inline;
  background-color: #fff;
  border-width: 5px;
  border-color: #000;
  color: #008000;
  text-align: center;
  font-size: 28px;
  height: 100px;
  width: 200px;
  cursor: pointer;
  /*margin: 5px;*/
  padding-inline-start: 0px;
}


.list-group {
  margin-top: 50px;
  border-radius: 0%;
  float: left;
  border-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);


}